/* Divisor triangulo  */
.call-to-action::after {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 15px 20px;
  border-color: transparent transparent var(--white-color) transparent;
  margin: 0 auto;
  padding-top: 100px;
}


.call-to-action {
  background-color: var(--bg-dark-color);
  color: var(--white-color);
  text-align: center;
  margin: 0 auto;
  padding: 60px 15px 0 15px;
}

.call-to-action h1 {
  font-size: 4em;
}

.call-to-action h1::after {
  content: '|';
  margin-left: 5px;
  font-weight: 200;
  opacity: 1;
  animation: blink .7s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.call-to-action span {
  color: var(--orange-color);
}

.call-to-action p {
  font-size: 1rem;
  font-weight: 200;
  padding: 15px 0 35px 0;
}

.call-to-action div {
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .call-to-action {
    padding: 50px 10px 0px 10px;
  }

  .call-to-action h1 {
    font-size: 3.5rem;
    line-height: 1.3;
  }
}