.footer {
  background: var(--dark-color);
  padding: 60px 0;
}

.footer .container {
  display: flex;
}

.footer :is(.form, .contact) {
  flex: 1;
  padding: 0 25px;
}

/* .footer .form {
  height: 450px;
} */

.footer h4 {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.footer h4::after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #f9f9f9;
  margin: auto;
  margin-left: 5px
}

.footer a {
  color: #6d6c6d;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.footer svg {
  margin-right: 10px;
}

.footer .form form :is(label, textarea, input) {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  font-family: inherit;
  font-size: .875rem;
  font-weight: 500;
}

.form input {
  height: 2.5rem;
  padding: 10px;
}

.form :is(input, textarea) {
  color: #6d6c6d;
  background-color: #202020;
  border: none;
}

.form textarea {
  padding: 10px;
  resize: none;
}

.form button {
  width: 100%;
  font-size: .875rem;
}

.copy {
  background-color: var(--dark-color);
  text-align: center;
  color: #6d6c6d;
  padding: 10px 0;
  font-weight: 400;
  font-size: .875rem;
  border-top: solid 1px #6d6c6d;
}