/* ===== Reset ===== */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ===== Global ===== */

:root {
  --dark-color: #1a1a1a;
  --white-color: #f2f2f2;
  --orange-color: #fd2403;
  --scroll-down-color: #fd2403;
}

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: .1rem;
  line-height: 1.5;
  background-color: var(--dark-color);
}

.bg-image {
  background-color: var(--dark-color);
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  flex-wrap: wrap;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 48px;
  color: var(--bg-dark-color);
  text-align: center;
  margin-bottom: 3rem;
  padding: 0 15px;
}


.btn {
  color: var(--white-color);
  padding: 0.9em 2em;
  width: 200px;
  border-radius: 2px;
  background: var(--orange-color);
  border: 2px solid var(--orange-color);
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 500;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  color: var(--orange-color);
  background-color: transparent;
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #4f4f4f #1a1a1a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #1a1a1a;
}

*::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  border-radius: 10px;
  border: 3px solid #1a1a1a;
}

/* ===== Animate ===== */

.js [data-anime] {
  opacity: 0;
  transition: .3s;
}

.js [data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

.js [data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

.js [data-anime="top"] {
  transform: translate3d(0, -50px, 0);
}

.js [data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

/* ===== Fixed whatsapp ===== */

.fixed-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 55px;
  z-index: 9999;
  text-align: center;
}

.fixed-whatsapp:before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: #00C853;
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
  z-index: 1;
  top: 0;
  left: 0;
}

.fixed-whatsapp svg {
  vertical-align: middle;
  z-index: 2;
  position: relative;
  margin-left: 10px;
}

.fixed-whatsapp:after {
  content: "Enviar mensagem!";
  width: 100px;
  padding: 5px 10px;
  position: absolute;
  bottom: 100%;
  margin-bottom: 10px;
  right: -150px;
  text-align: center;
  color: var(--white-color);
  background: rgba(53, 53, 53, 0.459);
  border-radius: 4px;
  opacity: 0;
  transition: all .4s ease-in-out;
  font-size: 90%;
  line-height: 1.1;
}

.fixed-whatsapp:hover:after {
  opacity: 1;
  right: 0;
}