.menu {
  background: #000000a1;
  padding: 15px 0;
}

.menu .container {
  justify-content: space-between;
  align-items: center;
}

.menu .container span {
  color: white;
  font-weight: 300;
  display: flex;
  align-content: center;
}

.menu .container span img {
  margin-right: 10px;
}