.menu {
  background: #000000af;
  padding: 15px 0;
}

.menu .container {
  justify-content: space-between;
  align-items: center;
}

.menu span {
  color: var(--white-color);
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu span svg {
  margin-right: 10px;
}

svg {
  fill: var(--orange-color);
}

svg:hover {
  fill: var(--white-color);
}

@media (max-width: 850px) {
  .menu .clock {
    display: none;
  }

  .menu .whatsapp span,
  .menu .email span {
    display: none;
  }

  .menu .contacts {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}