.menu {
  background: var(--bg-dark-color);
  padding: 15px 0;
}

.logo {
  margin: 0 10px;
}

.menu-nav {
  flex: 1;
  margin: 0 10px;
  align-self: center;
}

.menu-nav ul {
  float: right;
  display: flex;
  list-style: none;
}

.menu-nav ul li a {
  padding: 10px;
}

.menu-nav a {
  color: var(--white-color);
  font-weight: 300;
  display: block;
  padding: 0.5rem;
  transition: .3s;
}

.menu-nav a:hover {
  color: var(--orange-color);
}

.btn-mobile {
  display: none;
}

@media (max-width: 600px) {}