/* ===== Services ===== */

.services {
  background: var(--white-color);
  padding: 60px 0;
}

.services .section-title {
  color: var(--dark-color);
}

.services .section-title .dot {
  color: var(--orange-color);
}

.cards-container {
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.card {
  display: flex;
  border: 3px solid var(--dark-color);
  border-radius: 30px;
  height: 528px;
  width: 100%;
  padding: 29px;
  background-size: 65% auto;
}

.card-1 {
  background: transparent url(/img/service-website.jpg) 0% 0% no-repeat padding-box;
  margin-bottom: 1.5rem !important;
}

.card-2 {
  background: transparent url(/img/service-design.jpg) 0% 0% no-repeat padding-box;
  background-position: top right;
}

.card-body {
  flex: 1 1 auto;
  max-width: 500px;
  background: transparent linear-gradient(90deg, #FD2403 0%, #D97400 100%) 0% 0% no-repeat padding-box;
  border-radius: 23px;
  letter-spacing: 0;
  color: #FFFFFF;
  padding: 2rem;
}

.card-body h2 {
  font-size: 2rem;
  line-height: 64px;
}

.card-body :is(p, h2) {
  letter-spacing: 1.25px;
}

.card-body-1 {
  margin-left: auto
}

@media (max-width: 1366px) {
  .card {
    height: 350px;
  }

}

@media all and (max-width:760px) {
  .card {
    padding: 0px;
    padding-top: 60%;
    background-size: 100% auto;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
  }

  .card-body {
    max-width: 100%;
    border-radius: 0px;
  }

}