/* Reset */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Scrollbar */

* {
  scrollbar-width: auto;
  scrollbar-color: #a1a1a1 #1a1a1a;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #111111;
}

*::-webkit-scrollbar-thumb {
  background-color: #060d28;
  border-radius: 5px;
  border: 0px none #ffffff;
}

/* General Styles */

:root {
  --dark-color: #060d28;
  --white-color: #dadada;
  --orange-color: #FD2403;
  --scroll-down-color: #FD2403;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1rem;
  line-height: 1.5;
}

.bg-image {
  background-color: var(--dark-color);
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;

}

.subtitle {
  font-size: 2rem;
  font-weight: 300;
}


.title,
.subtitle {
  color: var(--bg-dark-color);
  text-align: center;
}

.btn {
  color: var(--white-color);
  padding: 0.9em 2em;
  width: 200px;
  border-radius: 2px;
  background: var(--orange-color);
  border: 2px solid var(--orange-color);
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  color: var(--orange-color);
  background-color: transparent;
}

/* Menu */

.menu {
  background: #000000af;
  padding: 15px 0;
}

.menu .container {
  justify-content: space-between;
  align-items: center;
}

.menu :is(span, a) {
  color: var(--white-color);
  font-weight: 300;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu :is(span svg, a svg) {
  margin-right: 10px;
}

.menu .contacts .call {
  display: none;
}

svg {
  fill: var(--orange-color);
}

svg:hover {
  fill: var(--white-color);
}

/* cta */
.cta {
  background-color: #000000af;
  color: var(--white-color);
}

.cta .container {
  min-height: 600px;
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta h1 {
  font-size: 4rem;
  line-height: 80px;
  padding: 0 15px;
}

.cta h1::after {
  content: '|';
  margin-left: 5px;
  font-weight: 200;
  opacity: 1;
  animation: blink .7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cta :is(h1, h2, p) {
  text-align: center;
}

.cta {
  padding: 0 15px;
}

.cta p {
  font-size: 1rem;
  font-weight: 300;
  padding: 15px 15px 35px 15px;
  max-width: 800px;
}

.cta span {
  color: var(--orange-color);
}

/* Scrolldown */

.scroll-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouse {
  width: 1.785rem;
  height: 2.785rem;
  border: 2px solid var(--scroll-down-color);
  border-radius: 2rem;
  margin-bottom: .5rem;
  display: flex;
}

.mouse span {
  width: .25rem;
  height: .35rem;
  background-color: var(--scroll-down-color);
  display: block;
  border-radius: 25%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0.75rem);
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
  }

  25% {
    opacity: .25;
  }

  75% {
    opacity: .75;
  }

  100% {
    opacity: 1;
  }
}

/* Services */

.services {
  background: #0f0c29;
  padding: 60px 0;
}

.services .title {
  color: #e8e8e8;
}

.services .title span {
  color: var(--orange-color);
}

.services-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 200px 15px 60px 15px;
}

.services-container .service-card {
  position: relative;
  max-width: 500px;
  height: 400px;
  background-color: #161E34;
  margin: 30px 15px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.103);
}

.services-container .service-card .imgBox {
  position: relative;
  top: -200px;
  margin: 0 auto;
  z-index: 1;
  align-items: center;
  justify-content: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.services-container .service-card .imgBox:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (max-width: 568px) {
  .services-container .service-card .imgBox {
    width: 100%;
  }
}

.services-container .service-card .content {
  position: relative;
  margin-top: -200px;
  padding: 10px 15px;
  text-align: center;

}

.services-container .service-card .content h3 {
  color: #999CA6;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.services-container .service-card .content p {
  color: var(--white-color);
  font-size: 1rem;
  padding: 25px 0;
}

.services-container .service-card .content a {
  margin: 1rem 0;
  text-transform: uppercase;
  text-decoration: underline;
  align-self: flex-end;
  font-weight: 600;
  color: var(--white-color);
  /* color: var(--orange-color); */
}

/* Responsive */

@media (max-width: 850px) {

  /* menu */
  .menu .clock {
    display: none;
  }

  .menu .contacts .call {
    display: flex;
  }

  .menu .whatsapp span,
  .menu .email span {
    display: none;
  }

  .menu .contacts {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  /* cta */
  .cta .container {
    gap: 15px;
    padding: 60px 0 0 0;
  }

}

@media (max-width: 786px) {

  /* General Styles */
  .subtitle {
    font-size: 1.625rem;
  }

  /* cta */

  .cta h1 {
    font-size: 3.5rem;
    line-height: 65px;
  }

}


@media (max-width: 576px) {

  .scroll-down {
    display: none;
  }

  .cta h1 {
    font-size: 3rem;
    line-height: 55px;
  }
}